.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.settings {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  gap: 10px;

  h2 {
    margin-top: 0;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.log-level {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.log-level-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 1rem;
  }
}

.source {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.source-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 1rem;
  }
}

.toggle-label {
  margin-left: 0.25rem;
}

.log-display {
  margin: 3rem;
}

.mat-mdc-row, .mat-mdc-header-cell {
  font-size: 1.2rem;
}

.mat-mdc-header-cell {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--background-color);
}

.separator {
  height: auto;
  margin-inline: 1.5rem;
  width: 1px;
  background-color: var(--text-color);
}
